body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #e0e0e0;
}

.name {
    font-family: Manrope;
    letter-spacing: 2px;
}

.h2 {
    font-size: 30px;
    text-align: center;
    font-family: Manrope;
    letter-spacing: 2px;
    margin-bottom: 60px;
    border: 1.5px solid #333c4d;
}

.nav-link {
    text-align: center;
    font-family: Manrope;
    margin: 10px;
    margin-left: 30px;
    margin-right: 50px;
    padding: 50px;
}

header {
    background-color: #333c4d;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}
.container-fluid{
    background-color: #333c4d;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.text2 {
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
}

.project {
    border-top: 2px ;
    position: relative;
    margin-bottom: 4rem;
    overflow: hidden;
    width: 200%;
    margin-left: -400px;
    margin-top: 50px;
}

.project img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s;
}

.project-link {
    text-decoration: none;
    color: inherit;
}

.project:hover img {
    opacity: 0.5;
}

.styled-hr {
    border-top: 3.5px solid #333c4d;
    margin: 1rem 0;
    width: 95.5%; 
    margin-left: auto;
    margin-right: auto
}

.resumeimg {
    border-top: 2px ;
    position: relative;
    margin-bottom: 4rem;
    overflow: hidden;
    width: 200%;
    margin-left: -373px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.project:hover .overlay {
    opacity: 1; 
}

.text {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    border: 2px solid #579ab4; 
    box-sizing: border-box;
}
.contact {
    background-color: #333c4d;
}

.footer {
    background-color: #333c4d;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}
