.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.myBtn {
  background-color: #1de0fa;
  margin: 30px;
}

body {
  background-color: #494949;
  background: url("images/emptyclassroom.jpg") center/cover no-repeat;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  margin: 50px;
  border: 15px;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  font-family: fantasy, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: hsl(56, 70%, 52%);
}

h2, h3 {
  margin: 40px;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  color: hsl(56, 70%, 52%);
}

p {
  color: hsl(56, 70%, 52%);
}

.last {
  font-family: fantasy;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #000000;
}

.balance{
  font-size: 1.5rem;
  font-style: italic;
  letter-spacing: 1.2px;
  color: #ff0000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
}

img {
  margin-top: 25px;
  width: 85%;
  background-color: #ef1f1f;
  border-radius: 30%;
  mix-blend-mode: hard-light;
  border: 5px solid #000000;

}

footer {
  margin-top: 10%;
  color: #000000;
  text-align: center;
  letter-spacing: 1px;
  font-size: 3rem;
  font-family: fantasy, sans-serif;
  font-style: italic;
}
